<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <section class="hero">
            <div class="container row">
                <div class="col">
                    <h2>Find the best Food+ for Your Pets Here</h2>
                    <p>Be our client and Receive 10% of discounts every Month  </p>
                    <a class="client-btn" href="">Be Client</a>
                </div>
            </div>
        </section>
        <section class="petphotos">
            <div class="container grid">

                <div class="dog">
                    <img src="" alt="">
                </div>
                <div class="">
                    <img class="dog2"   src="" alt="">
                    <img src="" alt="">
                </div>
                <div class="dog">
                    <img src="">
                </div>
               
            </div>
        </section>
        <section class="products">
            <div class="container">
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title"><%= product.title %></h1>
                                </header>
                                <div class="card__image">
                                    <img src="/img/product-2_0.jpg" alt="product">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$253</h2>
                                    <p class="product__description">this is the best choice you do</p>
                                </div>
                                <div class="card__actions">
                                    <button class="btn">Add to Cart</button>
                                </div>
                            </article>
                        <% } %>
                    </div>
                    <% } else { %>
                        <h1>There's no product yet</h1>
                    <% } %>
            </div>
        </section>
        <section class="more">
            <div class="container">
                <div class="text">
                    <h1>Lorem ipsum dolor sit amet consectetur</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam sequi deleniti vel consequuntur</p>
                    <a href="">GET IN TOUCH</a>
                </div>
                <div>
                    <img src="img/dog10.png" alt="">
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <h2>how it works?</h2>
                <div class="row">
                    <div class="col">
                        <div >
                            <ion-icon name="eye-outline"></ion-icon>
                            <h4>choose the products you want</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="col">
                        <div>
                            <ion-icon name="bicycle-outline"></ion-icon>
                            <h4>we deliver it at your Home</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="col">
                        <div>
                            <ion-icon name="card-outline"></ion-icon>
                            <h4>pay Only after received</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                                </div>
                </div>
        </section>

        <section class="faq">

        </section>
    </main>
    <footer>
        <div class="container">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">
                
            </div>
        </div>
    </footer>

    <script src="/js/frontEnd.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>