<header>
    <div class="container row">
        
        <div class="logo">
            <h2>Peeto</h2>
        </div>
        <nav class="navigation">
            <ul>
                <li class="nav__list"><a href="">home</a></li>
                <li class="nav__list"><a href="">shop</a></li>
                <li class="nav__list"><a href="">products</a></li>
                <li class="nav__list"><a href="">About us</a></li>
                <li class="nav__list"><a href="">Contact us</a></li>
            </ul>
        </nav>
        <div class="icons">
            <ion-icon name="bag-handle-outline">cart</ion-icon>
            <ion-icon name="heart-outline"></ion-icon>
            <ion-icon name="person-circle-outline"></ion-icon>
        </div>
</div>
</header>